<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <!-- <input type="text" v-model="name"/>
     v-if="name.length !== 0"
    
        v-for="name in names" v-on:click="clickHandler" или @click="clickHandler($event, name)"
           {{name}}
     -->
    <header class="container">
        <img class="logo" src="https://via.placeholder.com/200x70" alt="logo">
        <nav class="menu">
            <router-link to="/" >Каталог</router-link>
            <router-link to="/contacts">Контакты</router-link>
        </nav>
        <div class="header-icons" >
            <!--@submit.prevent="filterGoods"-->
            <search-form :goods="goods" :filtered-goods.sync="filteredGoods"  ></search-form><!--@input="filteredGoodsHandler" v-model="searchLine"-->
            <cart-form :goods="filteredGoods"></cart-form>
        </div>
    </header>
    <main class="container">
        <router-view></router-view>
        <!--<goods-list :goods="filteredGoods" /> -->
    </main>
    <footer class="container">

    </footer>
    <alert-window ref="notification" ></alert-window>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="js/main.js"></script>
</body>
</html>
